body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    display: flex;
}

#task-input{
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #d0cfcf;
    border-radius: 0;
    font-size: 16px;
}

.add-btn {
    padding: 10px 20px;
    border: none;
    background-color: #40c245;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.delete-btn , .update-btn{
    background-color: #e05a5a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.update-btn {
    background-color : #007fff;
}
